.logo {
    width: 120px;
    height: 80px;
}

.title1 {
    font-size: 38px;
    font-weight: bold;
}

.title2 {
    font-size: 22px;
}

.custom-padding-title2 {
    padding-left: 40px;
}

.parts-title {
    font-size: 28px;
}

.title3 {
    font-size: 30px;
    top: 0px;
    left: 5px;
}

.custom-padding-part6{
    padding-left: 115px;
}

.custom-padding-accordion1 {
    padding-left: 28px;
    padding-right: 4px;
}

.custom-padding-accordion2 {
    padding-left: 4px;
    padding-right: 28px;
}