.logo {
    width: 120px;
    height: 72px;
}

.title1 {
    font-size: 44px;
    font-weight: bold;
}

.title2 {
    font-size: 24px;
}

.custom-padding-title2 {
    padding-left: 45px;
}

.parts-title {
    font-size: 32px;
}

.title3 {
    font-size: 30px;
    top: 0px;
    left: 5px;
}

.custom-padding-accordion1 {
    padding-left: 28px;
    padding-right: 4px;
}

.custom-padding-accordion2 {
    padding-left: 4px;
    padding-right: 28px;
}