.logo {
  width: 120px;
  height: 80px;
}

.title1 {
  font-size: 34px;
  font-weight: bold;
}

.title2 {
  font-size: 20px;
}

.custom-padding-title2 {
  padding-left: 35px;
}

.parts-title {
  font-size: 26px;
}

#custom_transition, .title3 {
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}

.title3 {
  font-size: 22px;
  bottom: 0;
  left: 5px;
}

.pic:hover .title3 {
  color: #d5001c;
}

.custom-padding-part6 {
  padding-left: 30px;
}
