@media all and (max-width:575px) {
    .title {
        font-size: 34px;
        text-decoration: none;
        line-height: 30px;
        font-weight: bold;
        left: 10px;
        bottom: 50px;
        transition: all 500ms ease 0s;
    }

    .title:hover {
        color: #d5001c !important;
    }

    .part1-span {
        font-size: 22px;
    }

    .arrow-big {
        font-size: 34px;
    }

    .four-dots {
        text-align: center;
        bottom: 0;
        margin-bottom: -5px;
        font-size: 60px;
        font-weight: bold;
        color: #e3e4e4;
    }

    .link {
        text-decoration: none;
        color: white;
        font-size: 20px;
        transition: all 500ms ease 0s;
        bottom: 0;
        left: 5px;
    }

    .pic:hover .link {
        color: #d5001c;
    }

    .button {
        width: 175px;
        height: 51px;
        background-color: #313639;
        transition: all 500ms ease 0s;
        line-height: 51px;
        text-align: center;
    }

    .car:hover .button {
        background-color: #d5001c;
    }

    .five-dots {
        text-align: center;
        bottom: 0;
        margin-top: -30px;
        font-size: 50px;
        font-weight: bold;
        color: #e3e4e4;
    }
}

@media all and (min-width:576px) and (max-width:767px) {}

@media all and (min-width:768px) and (max-width:991px) {}

@media all and (min-width:992px) and (max-width:1199px) {}

@media all and (min-width:1200px) and (max-width:1399px) {}

@media all and (min-width:1400px) {}