.logo {
    width: 100px;
    height: 60px;
}

.title1 {
    font-size: 30px;
    font-weight: bold;
}

.title2 {
    font-size: 20px;
}

.custom-padding-title2 {
    padding-left: 30px;
}

.parts-title {
    font-size: 24px;
}

.title3 {
    font-size: 20px;
    bottom: 0;
    left: 5px;
    transition: all 500ms ease 0s;
}

.pic:hover .title3 {
    color: #d5001c;
}

/* END */

.gray-line {
    height: 1px;
    width: 100px;
    background-color: #d2d3d4;
}

.footer-link {
    transition: all 500ms ease 0s;
}

.footer-link:hover {
    text-decoration: none;
    color: #d5001c !important;
}

.black {
    background-color: #191f22;
}

.share-page {
    height: 50px;
    width: 100%;
    text-decoration: none;
    line-height: 50px;
}

.gray {
    background-color: #313639;
}