$color_black1: #0c0c0c;
$color_red: #d5001c;
$color_white: white;
$color-transparent: rgba(0, 0, 0, 0);
$color_gray: #313639;
$color_light_gray: #d2d3d4;
$color_facebook: rgb(39, 83, 167);
$color_youtube: rgb(205, 32, 31);
$color_pinterest: rgb(205, 36, 43);
$color_instagram: rgb(50, 97, 137);
$color_linkedin: rgb(2, 116, 179);
$color_twitter: rgb(85, 172, 238);
$color_skype: rgb(0, 0, 0);
$color_black2: #191f22;