img {
    filter: brightness(60%);
}

img:hover {
    filter: none;
}

p {
    font-size: 14px;
    right: 0;
    bottom: 0;
    text-align: right;
    direction: rtl;
    margin: 1em;
}

.pic {
    padding: 1px;
}